

<img src="/img/PicsArt_11-27-12.11.34.png"  id="imgpost" alt="Postagem">
<img src="/img/IMG_20200412_123558_635.jpg"  id="pessoa" alt="Postagem">

<p id="nome">Thales</p>
<p id="equipe">Team Speedy</p>
<p id="cidade">Ituiutaba</p>


<style>

#imgpost {
width: 390px;
height: 390px;
margin-left: 1rem;
}
#pessoa {
width: 200px;
height: 190px;
margin-left: 110px;
margin-top: -300px;
border-radius: 4px;
}
@media (min-width:1000px){
#pessoa {
width: 200px;
height: 180px;
margin-left: -300px;
margin-top: 101px;
border-radius: 4px;
}
#nome {
color: cyan;
margin-left: 152px;
margin-top: -55px;

}
#equipe {
color: cyan;
margin-left: 170px;
margin-top: -21px;

}
#cidade {
color: cyan;
margin-left: 290px;
margin-top: -40px;

}
}





</style>